@model List<ArdonaghTest.Models.CustomerModel>

@{
    ViewData["Title"] = "Home Page";
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCustomerModal">
   +Add Customer
</button>

<!-- Modal -->
<div class="modal" id="editCustomerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add New Customer</h3>
      </div>
      <div class="modal-body">
            <h2>Name</h2>
            <input type="text" size="10" id="inName" class="textBox" />
            <h2>Age</h2>
            <input type="number" size="10" id="inAge" class="textBox" />
            <h2>Postcode</h2>
            <input type="text" size="10" id="inPostcode" class="textBox" />
            <h2>Height</h2>
            <input type="number" step="0.01" size="10" id="inHeight" class="textBox" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-secondary" onclick="addCustomer()">+Add Customer</button>
      </div>
    </div>
  </div>
</div>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Postcode</th>
                <th>Height</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td><strong>@customer.Name</strong></td>
                <td><strong>@customer.Age</strong></td>
                <td><strong>@customer.Postcode</strong></td>
                <td><strong>@customer.Height</strong></td>
                <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCustomerModal">
                   Edit
                </button></td>
            </tr>
        }
        </tbody>
    </table>
</div>

@await Html.PartialAsync("_AddCustomer")

<script>
    function OpenEditModal(customer){
       $("#myModal", customer).modal();
    }
</script>